body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Sans', sans-serif;  
  font-size: 16px;
  line-height: 1.6;
  color: #333;  
  background-color: #fff;  
  margin: 0px;

}

/*Group info*/
.group-info {
    position: fixed;
    left: 20px; 
    top: 10px;  
    text-align: left;
    color: #fff;  
}
  
  .group-info p {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .group-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .group-info li {
    margin: 0px 0;
    font-size: 0.7em; 
  }

/* Container */
.container {
    max-width: 800px;
    margin: 50px auto 0;  
    padding: 20px;
    background-color: #f8f8f8;  
    border: 1px solid #ddd;  
    border-radius: 8px;  
    text-align: left;  
}

/* Indent List Items (there is probably a smarter way to do it) */
.container ol {
  margin: 0 0 0 50px;
}

.container ul {
  margin: 0 0 0 50px;
}

/* Header*/
header {
  background-color: #292929;  
  padding: 10px 0;
}

header h1 {
  margin: 0;
  font-size: 1.8em; 
}
  
/* Navbar */
nav {
    background-color: #292929; 
    display: flex;
    justify-content: center; 
    padding: 0;          
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 10px;
  } 

  .tab {
    color: #fff
  }
  .tab a, a:visited, a:hover, a:active {
    color: #fff;
  }

  .nav-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;  
  }
  
  .nav-title a {
    text-decoration: none;
    color: #fff;
  }
main {
  margin-top: 20px;
}

